/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

/* smooth scrolling */
/* * { scroll-behavior: smooth; } */

/* custom colors */
:root {
  --color-primary: #3b82f6;
  --color-secondary: #f59e0b;
}

.dark {
  --color-primary: #2563eb;
  --color-secondary: #d97706;
}

/* Global reusable gradient */
.bg-app-gradient {
  background: linear-gradient(135deg, #eff6ff 0%, #ffffff 100%);
}

.text-primary { color: var(--color-primary); }
.bg-primary { background-color: var(--color-primary); }
.text-secondary { color: var(--color-secondary); }
.bg-secondary { background-color: var(--color-secondary); }

/* dot loader animation */
.dot-loader {
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, var(--color-primary) 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}

.dot-loader-2 {
  width: 20px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, var(--color-secondary) 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% { background-position: 0% 0%, 50% 50%, 100% 50%; }
  40% { background-position: 0% 100%, 50% 0%, 100% 50%; }
  60% { background-position: 0% 50%, 50% 100%, 100% 0%; }
  80% { background-position: 0% 50%, 50% 50%, 100% 100%; }
}